.green {
  color: green;
}

.red {
  color: red;
}

.gold {
  color: gold!important;
  opacity:1.0;
}

.dark {
  background: #000;
  opacity: 0.4;
}

.code {
  font-family: monospace;
  text-transform: none;
  font-size: 200%;
line-height: 1em;
  background: black;
  padding: 1em!important;
}
