
.green {
  color: green;
}

.red {
  color: red;
}

.gold {
  color: gold!important;
  opacity:1.0;
}

.dark {
  background: #000;
  opacity: 0.4;
}


.guide {
  font-size: 12px!important;
  float: right;
}

.wguide {
  font-size: 12px!important;
  float: right;
  color:white!important;
}

.sm {
  font-size: .8em!important;
}

.clean {
  text-align: left;
}

